
<h1>{{title}}</h1>
{{# if success}}
    <div class="ui form success">
        <div class="ui success message">
            <div class="header">Form Completed</div>
            <p>You're all signed up.</p>
        </div>
    </div>
{{ else }}
    {{# if errors }}
        <div class="ui form error"></div>
            <div class="ui error message">
                <div class="header">Action Forbidden</div>
    
                <ul>
                    {{# each errors}}
                        <li>{{ this.msg }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <form action="/submit" method="post" class="ui form">
        <div class="field">
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="joe@schmoe.com" name="email">
        </div><br>
        <div class="field">
            <label for="password">password: </label>
            <input type="password" id="password" name="password">
        </div>
        <br>
            <div class="field">
                <label for="confirmpass">confirm password: </label>
                <input type="password" id="confirmpass" name="confirmpass">
            </div>
        <br>

        <input type="submit" class="ui inverted grey button">
    </form>
{{/if}}
